.title {
   height: 88px;
   font-family: BrandonGrotesque;
   font-size: 62px;
   font-style: normal;
   font-stretch: normal;
   line-height: 1.57;
   letter-spacing: normal;
   text-align: center;
   color: #222222;
 }

@font-face {
  font-family: 'BrandonGrotesque';
  src: local('brandon_bld-webfont'), url('../fonts/brandon_bld-webfont.ttf') format('truetype');
}

.SS18-photographed-by {
  font-family: BrandonGrotesque;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  float: left;
  margin-left: 30%;
  color: #222222;
  margin-top: 50px;
}

.SS18-photographed-by .text-style-1 {
  font-weight: bold;
}

.SS18-photographed-by .text-style-2 {
  font-weight: 500;
}

.SGH_FashionWeek {
  width: 1280px;
  height: 3007px;
  background-color: #ffffff;
}

.logo-black {
  width: 152px;
  height: 19px;
  margin-top: 50px;
}

.sunglass-hut-logo {
}

.for {
  float: left;
  font-family: BrandonGrotesque;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  margin-left: 37%;
  color: #222222;
}

.new-york {
  font-family: BrandonGrotesque;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 5.1px;
  text-align: center;
  color: #222222;
}

.london {
  opacity: 0.4;
  font-family: BrandonGrotesque;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 5.1px;
  text-align: center;
  color: #222222;
}

.milan {
  opacity: 0.4;
  font-family: BrandonGrotesque;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 5.1px;
  text-align: center;
  color: #222222;
}

.paris {
  opacity: 0.4;
  font-family: BrandonGrotesque;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 5.1px;
  text-align: center;
  color: #222222;
}

#city {
  margin-right: 14%;
}

.layer {
  font-family: BrandonGrotesque;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  margin-left: 25px;
  margin-right: 50px;
  color: #000000;
}

#shutterstock_490883626 {
  height: 279px;
  object-fit: fill;
  opacity: 0.5;
  max-width: 100%;
  position:absolute;
  left:0px;
  top:0px;
}

.container-top {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

#jonathan-riley-118591 {
  height: 267px;
  object-fit: contain;
  position:absolute;
  left:0px;
  top:55px;
}

.Style-has-no-boundar {
  font-family: BrandonGrotesque;
  font-size: 16px;
  font-weight: lighter;
  font-style: normal;
  font-stretch: normal;
  line-height: 22px;
  letter-spacing: normal;
  text-align: center;
  color: #222222;
  margin-top: 40%;
}

.COACH {
  font-family: BrandonGrotesque;
  font-size: 36px;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.75;
  letter-spacing: 13.2px;
  text-align: left;
  color: #222222;
  max-width: 100%;
}

.Line-2-Copy {
  width: 137px;
  border: solid 1px #000000;
  margin-left: 0%;
  margin-top: 50px;
}

#IMG_2094 {
  width: 509px;
  object-fit: contain;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
#IMG_2094:hover {
  width: 709px;
}

#a_bts {
  width: 346px;
  object-fit: contain;
  margin-top: 90px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
#a_bts:hover {
  width: 546px;
}


#Line-2 {
  width: 137px;
  border: solid 1px #000000;
  float: left;
}

.photographed-by {
  font-family: BrandonGrotesque;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  margin-bottom: 3px;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #222222;
}

.logo-black1 {
  width: 105px;
  height: 13px;
}

.GET-INSPIRED {
  font-family: BrandonGrotesque;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-left: 40%;
  text-align: center;
  color: #222222;
}

.VE2184__125287_000A {
  margin-left: 10%;
  margin-right: 10%;
}


.NEW-YORK-091217 {
  width: 110px;
  height: 22px;
  font-family: BrandonGrotesque;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.83;
  letter-spacing: normal;
  text-align: left;
  color: #222222;
}

.LOREM-IPSUM-xxx {
  font-family: BrandonGrotesque;
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  margin-left: 38%;
  letter-spacing: normal;
  text-align: center;
  color: #222222;
}

.LOREM-IPSUM-xxx .text-style-1 {
  font-size: 18px;
  font-weight: normal;
}

.SHOP-NOW {
  width: 92px;
  height: 19px;
  font-family: BrandonGrotesque;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2px;
  text-align: center;
  color: #ffffff;
}

.Rectangle-7 {
  margin-left: 50%;
  width: 140px;
  height: 38px;
  background-color: #000000;
  border: solid 1px #222222;
  color: #ffffff;
}

#container-1 {
  float: right;
}

.a_bts {
  width: 346px;
  height: 602px;
  object-fit: contain;
}

.logo-black-top {width: 149px;
  height: 16px;
  float: right;
  margin-right: 31%;
}

.LATEST-AND-BRIGHTEST {
  height: 32px;
  font-family: BrandonGrotesque;
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2px;
  text-align: center;
  color: #222222;
}

.Line-2-Copy-3 {
  width: 303px;
  border: solid 1px #000000;
}

.b3f80b3fae6e8e33280cdb4b362708e {
  width: 185px;
  padding-right: 1%;
  height: 277.2px;
}

.d05992f6e27ac53dfe8c7858ebc5adb3 {
  width: 185px;
  padding-right: 1%;
  height: 277.2px;
}

.cac63bec8d1c6018969452a28eb1db51 {
  width: 185px;
  padding-right: 1%;
  height: 277.2px;
}

.c21e00dc3649b613c8336e97fd3c97cb {
  width: 185px;
  padding-right: 1%;
  height: 277.6px;
}

.a553317577297ad19e1501f9355c2441 {
  width: 185px;
  height: 277.6px;
}

#slider-top {
  float: right;
  margin-right: 4%;
}

.Path-2 {
  height: 29.4px;
  position: relative;
  margin-bottom: 10%;
}

#shutterstock_587926553 {
  object-fit: fill;
  height: 209px;
  margin-top: 11%;
  opacity: 0.5;
  max-width: 100%;
  left:0px;
  top:0px;
}

#jonathan-riley-118591-copy {
  width: 800px;
  position: absolute;
  left: 0px;
  margin-top: 15%;
  top: 55px;
  margin-left: 30%;
}

.LONDON-0915 {
  height: 34px;
  font-family: BrandonGrotesque;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.86;
  position: relative;
  margin-left: 5%;
  letter-spacing: normal;
  text-align: center;
  z-index: 200;
  color: #ffffff;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.69);
}

.text-style-1 {
  height: 62px;
  font-family: BrandonGrotesque;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  margin-top: 21%;
  line-height: 2.86;
  position: relative;
  margin-left: 5%;
  letter-spacing: normal;
  text-align: center;
  z-index: 200;
  color: #ffffff;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.69);
}

.COMING-SOON {
  height: 88px;
  font-family: BrandonGrotesque;
  font-size: 24px;
  font-style: normal;
  font-stretch: normal;
  margin-left: 48%;
  margin-top: 5%;
  line-height: 3.67;
  letter-spacing: normal;
  color: #222222;
}